{% extends 'base.html' %}
{% block nav %}
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">공모전 안내</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">참가 신청</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">참가 확인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">커뮤니티</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}
{% endblock %}